[Unit]
Description=sshwarden
After=network.target

[Service]
ExecStart=%h/.local/bin/sshwarden
Environment=SSH_AUTH_SOCK=%h/.bitwarden-ssh-agent.sock
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
